*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 70%;
  margin: auto;
  background-image:url(https://media.discordapp.net/attachments/761546561938784260/765549206365798410/natural-default-pattern.png);
}

.head{
  width: 1049px;
  height: 300px;
  margin-top: 15px;
  background-color: white;
  position: relative;
}

.sfondo-head{
  width: 1040px;
  height: 242px;
  margin: 4px;
  background-image: url(../img/header_bg.jpg);
  background-size: cover;
  position: absolute;
}

.logo{
  height: 200px;
  width: 400px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50% , -50%);
}

.titolo{
  width: 700px;
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
  text-align: center;
  color:white;
  font-weight:500;
}


.nav-bar{
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  background-color: gray;
  text-align: center;

}

.menu li{
  display: inline-block;
  list-style: none;
  padding: 16px  10px;
  vertical-align: middle;
}

.menu li:hover {
  background: #CDC1C5;
}

.menu li  {
  text-decoration:none;
  text-transform: capitalize;
  height: 100%;
  display: inline-block;
  font-size: 14px;
  font-weight:600;
  font-family: sans-serif;
  color:white;
  cursor: pointer;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.container:after{
  content: "";
  display: table;
  clear:both;
}

.to{
  width: 80%;
}

.toicone{
  width:20%;
}

.side-sx{
  width: 25%;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px
}



.sideheader::after{
  content: "";
  display: table;
  clear: both;
}

.list ul{
  width: 100%;
  list-style: none;
  padding: 5px;

}

.list ul li{
  margin-top: 15px;
  font-size: 20px
}

.fas{
  font-size: 30px;
  margin: 5px;
  background-color: white;
  color: orange;

}

.fl .mini{
  width: 30px;
  text-align: center;

}



.side-cn{
  width: 50%;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 25px;

}

h1, h2{
  margin: 10px;

}

p{
  margin: 10px;
}

.colonna{
  width: 20%;
  padding: 0;
  margin: 0;
}

.side-dx{
  width: 100%;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
}

.distanza{
  margin-top: 30px;
}

.finale{
  width: 1049px;
  height: 100px;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 20px;

}



.linea{
  text-align:center;
  height: 20px;
  line-height: 20px;
  color: gray;
  border-bottom: 1px solid gray;

}

.foot{
  width: 349px;
  height: 70px
}

.fab {
  font-size: 40px;
  background-color: white;
  color: lightgray;
  position:relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)

}
